.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons .social-icons__icon {
    width: 20px;
    height: 20px;
}

.social-icons__link {
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    fill: var(--social-links-color);
}

.social-icons__link:hover,
.social-icons__link:focus {
    fill: var(--main-bg-color);
    background-color: var(--hover-color);
}