:root {
    --main-text-color: #757575;
    --dark-bg-color: #2F303A;
    --ligth-bg-color: #F5F4FA;
    --color-title: #212121;
    --hover-color: #2196F3;
    --main-bg-color: #FFFFFF;
    --logo-font: "Raleway", sans-serif;
    --second-logo-color: #000000;
    --hero-button-bg-color: #188CE8;
    --social-links-color: #AFB1B8;
    --overlay-bg-color: rgba(33, 150, 243, 0.9);
    --comment-field-placeholder: rgba(117, 117, 117, 0.5);
}
